.alert-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 34px;
  @media (min-width: 1440px) {
    height: 38px;
  }
}

.alert-bar__content {
  display: flex;
  align-items: center;
}

.alert-bar__text {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  padding-right: 7px;
  @media (min-width: 1440px) {
    font-size: 14px;
  }
}

.alert-bar__link {
  cursor: pointer;
  color: #ffffff;
  font-family: "Satoshi";
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
  @media (min-width: 1440px) {
    font-size: 14px;
  }
}

.alert-bar__control {
  display: flex;
  position: absolute;
  align-self: center;
  left: 91.5%;
}

.alert-bar__close-icon {
  display: block;
  width: 15px;
  height: 15px;

  @media (min-width: 876px) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: 1440px) {
    width: 20px;
    height: 20px;
  }
}
