.alert-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    height: 38px;
    font-size: 14px;
}

.content {
    display: flex;
    margin: o auto;
    align-items: center;
}

.text {  
    padding-right: 7px;
}

.link {
    cursor: pointer;
    color: #ffffff;
}

.control {
    display: flex;
    align-items: center;
} 

.close-icon {
    transform: translate(600px);
    color: #ffffff;
}