.alert-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 38px;
    font-size: 12px;
    @media (min-width: 1440px) {
        font-size: 14px;
    } 
}

.alert-bar__content {
    display: flex;
    align-items: center;
}

.alert-bar__text {  
    padding-right: 7px;
}

.alert-bar__link {
    cursor: pointer;
    color: #ffffff;
}

.alert-bar__control {
    display: flex;
    position: absolute;
    align-self: center;
    left: 91.5%;
} 

.alert-bar__close-icon {
    color: #ffffff;
    @media (min-width: 1440px) {
        width: 14px;
        height: 14px;
    }
}