.hero {
  background-color: #f2f0f1;
}

.hero__content {
  display: flex;
  flex-flow: column wrap;
  @media (min-width: 1440px) {
    flex-flow: row wrap;
  }
}

.hero__svg-container,
.hero__info-block {
  flex: 1 0 50%;
}

.hero__info {
  padding: 0 16px 25px 16px;
}

.hero__title {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 34px;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 10px;
  padding-top: 7px;
}

.hero__text {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.hero__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 56px;
  gap: 17px;

  .hero__stat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &:nth-child(1) {
      border-right: 1px solid #d9d9d9;
      padding-right: 28px;
    }

    &:nth-child(3) {
      padding-left: 88px;
      z-index: 1;
    }
  }
}

.stat__number {
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  color: black;
}

.stat__label {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.6);
}

.hero__svg-container {
  position: relative;
  min-height: 400px;
}

.background-hero {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  top: -8px;
}

.four-pointed-star-small {
  position: absolute;
  z-index: 1;
  left: 27px;
  top: 129px;
  @media (min-width: 1440px) {
    width: 56px;
    height: 56px;
  }
}

.four-pointed-star-big {
  position: absolute;
  z-index: 1;
  left: 293px;
  top: 32px;
  @media (min-width: 1440px) {
    width: 104px;
    height: 104px;
  }
}
