.hero {
	background-image: url(../image/background-hero-small.png);
	@media (min-width: 876px) {
   background-image: url(../image/background-hero-big.png);   
  }
}

.hero__content {
  display: flex;
	flex-flow: column wrap;
  @media (min-width: 1440px) {
    flex-flow: row wrap;    
  } 
}

.hero__svg-container,
.hero__info-block {
	flex: 1 0 50%;
	
}

.hero__title {
	font-size: 67px;
	letter-spacing: 0;
	width: 577px;
	height: 173px;
}
