@import './fonts.css';
@import './colors.css';

body {
  margin: 0;
  box-sizing: border-box; 
  font-family: var(--font-family-primary);
}

:root {
  --xs: 0px;
  --sm: 375px;
  --lg: 1440px;

  --xs-max: calc(var(--sm) - 1px);
  --sm-max: calc(var(--md) - 1px);
  --lg-max: calc(var(--sm) - 1px);

  --container-max-width: 1440px;
}