.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 42px;
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 22px;
  box-sizing: border-box;
  @media (min-width: 876px) {
    justify-content: center;
    margin: 0 auto;
    padding-top: 24px;
  } 
}

.navbar__menu-toggle {
  display: block;
  background: none; 
  border: none;
  outline: none;
  padding: 16px;
  align-items: center;
  @media (min-width: 876px) {
    padding: 40px;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}


.navbar__logo {
  padding: 13px 0;
}

.navbar__menu {
  display: none;
  @media (min-width: 876px) {
    display: block;
    padding: 13px 40px;
  } 
}

.menu__list {
  display: flex; 
  list-style: none;
  font-size: 16px;
  color: #000000;
  margin: 0; 
  padding: 0;   
  gap: 24px; 
}

.menu__link {
  cursor: pointer;      
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.navbar__search-bar {
  display: none;
  @media (min-width: 1440px) {
    display: block;
    flex-grow: 1;
    padding: 13px 0;
  } 
}

.search-bar__form {
  display: flex; 
  position: relative;
  background-color: #f0f0f0;
  border-radius: 62px;
  border: 1px solid #e0e0e0;
  width: 100%;
  max-width: 577px;
  box-sizing: border-box; 
}

.search-bar__button {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.search-bar__input {
  flex-grow: 1; 
  border: none;
  background-color: transparent; 
  outline: none;
  font-size: 16px;
  color: #333;
  padding: 12px 20px 12px 50px;
}
.navbar__icons {
  display: flex;
  padding: 12px 0 12px 40px;
  gap: 14px;
  @media (min-width: 876px) {
    gap: 14px; 
  } 
}

.icon__search--mobile {
  display: block;
  background: none; 
  border: none;
  outline: none;
  @media (min-width: 1440px) {
    display: none;
  } 
}