.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 48px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 30px;
  box-sizing: border-box;
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  @media (min-width: 876px) {
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 46px;
  }
}

.navbar__menu-toggle {
  display: block;
  background: none;
  border: none;
  outline: none;
  padding-left: 18px;
  align-items: center;
  @media (min-width: 876px) {
    padding: 40px;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}

.navbar__logo {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  align-self: center;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  color: #000;
  padding-bottom: 1px;

  @media (min-width: 876px) {
    font-size: 32px;
    padding-left: 0;
    padding-right: 40px;
    padding-bottom: 12px;
  }
}

.navbar__menu {
  display: none;
  line-height: 22px;
  @media (min-width: 876px) {
    display: block;
    padding-right: 42px;
  }
}

.menu__list {
  display: flex;
  list-style: none;
  color: #000000;
  margin: 0;
  padding: 0;
  gap: 22px;
}

.menu__link {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.navbar__search-bar {
  display: none;
  margin: 0;
  padding: 0;
  @media (min-width: 1440px) {
    display: block;
    flex-grow: 1;
  }
}

.search-bar__form {
  display: flex;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 62px;
  border: 1px solid #e0e0e0;
  width: 100%;
  max-width: 577px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-bar__button {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.search-bar__input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
  color: #333;
  padding: 12px 20px 12px 50px;
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.navbar__icons {
  display: flex;
  padding-right: 16px;
  gap: 12px;

  @media (min-width: 876px) {
    gap: 19px;
  }

  @media (min-width: 876px) {
    padding-right: 0;
    gap: 15px;
  }
}

.icon__search--mobile {
  display: block;
  background: none;
  border: none;
  outline: none;
  padding-right: 1px;
  @media (min-width: 1440px) {
    display: none;
  }
}

.icon__shopping-cart {
  padding-right: 4px;
}
